.sidebar {
  background-color: hsl(207, 96%, 73%);
  height: 60%;
  position: fixed;
  top: 8rem;
  left: 2rem;
  z-index: 1;
}

.sidebar .active {
  size: 10px;
  text-align: center;
  transition: 0.4s;
  color: #ffffff;
  border:1px solid white;
  border-radius: 60px;
}
